

$primary: #5265E1;
$secondary:  #FA5959;

header {
    min-height: 20vh;
}


.navbar-light .navbar-brand {
    color: aliceblue;
    font-size: 30px;
    overflow:hidden;

}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.bg-dark {
    background-color: rgb(255, 255, 255, 0.5) !important;
}



#go2 {
    width: auto;
    color:black;
}

#go {
    width: auto;
    color: aliceblue;
}

.rectangulo {
    height: 55vw;
    background: #4a6ee4;
    border-radius: 250px 0 0 250px;
    position: absolute;
    z-index: -1;
    margin-top: 5em;
    margin-left: 4rem;
}
@media only screen and (min-width: 600px) {
    .navbar-collapse {
        background: rgb(255, 255, 255, 0.5);
    }

    main .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .rectangulo {
        height: 25vw;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
