$theme-colors: ("primary": #5265E1,
    "secondary": #FA5959,
    "info": grey,
    "success": #232a5a,
);


$primary: #5265E1;
$secondary: #FA5959;
$info: grey;
$success: #232a5a;
;


@import "../node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    overflow-x: hidden;
}




header {
    min-height: 20vh;
}

.navbar-light .navbar-brand {
    color: aliceblue;
    font-size: 30px;
    overflow: hidden;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    margin: 1rem;
    border-bottom: none;
}


.navbarBlock {
    padding-bottom: 16rem;
    margin-bottom: 16em;
}


#go2 {
    width: auto;
    color: black;
}

#go {
    width: auto;
    color: aliceblue;
    background-color: #5265E1;
}

.rectangulo {
    height: 55vw;
    background: #4a6ee4;
    border-radius: 250px 0 0 250px;
    position: absolute;
    z-index: -1;
    margin-top: 5em;
    margin-left: 4rem;
}

.rectangulo2 {
    height: 56vw;
    background: #4a6ee4;
    border-radius: 0 250px 250px 0;
    position: absolute;
    z-index: -1;
    margin-top: 5em;
    margin-right: 10rem;
}

.nav-item {
    border-bottom: 2px solid rgb(229, 229, 229);
    justify-content: space-evenly;
}



section>img {
    width: 100vw;
}



/****************************************************************** 
 *------------------------ EJERCICIO 3 ---------------------------*
******************************************************************/





button.accordion-button {
    border-top: 1px solid rgb(165, 165, 164);
}

.accordion:first-child {
    border-top: 1px solid rgb(165, 165, 164);
}

.accordion:last-child {
    border-bottom: 1.5px solid rgb(165, 165, 164);
}



/****************************************************************** 
 *------------------------ EJERCICIO 5 ---------------------------*
******************************************************************/

.spaceH6 {
    letter-spacing: 2px;
}

form input,
form button {
    height: 3rem;
    width: 12rem;
}

i {
    font-size: 20px;
    padding: 20px;
}

//------------------------ EJERCICIO 5 ---------------------------*

/****************************************************************** 
 *------------------------ EJERCICIO 6 ---------------------------*
******************************************************************/

a.navLinkTab:focus {
    border-bottom: 3px solid #FA5959;
    color: grey;
}

button.accordion-button:hover{
    color: #FA5959;
}

button.accordion-button:focus{
    color: #FA5959;
    background: none;
    border: none;
}


.accordion-button::after {
background: none;
color: #FA5959;
}

.loginBtn, .contactUs {
    color: aliceblue;
}
.loginBtn:hover, .contactUs:hover {
    background-color: white;
    color: #FA5959;
}

.card-body>.btn-primary:hover {
    background-color: white;
    color: #4a6ee4;
}


.navbar-default .navbar-nav>li>a:hover {
    color: #FA5959;
}


footer .navbar-default .navbar-nav>li>a {
    color: rgb(246, 240, 240);
}

footer .navbar-default .navbar-nav>li>a:hover {
    color: #FA5959;
}

.rrssFooter>a {
    color: white;
}

.rrssFooter>a:hover {
    color: #FA5959;
}


.tab>a {
    color: grey;
} 
.tab>a:hover {
    color: #FA5959;
}

.invalid-feedback {
    background-color: #FA5959;
    color: white;
}

#go2:hover {
    width: auto;
    color: black;
    border: 2px solid $success;
}

#go:hover {
    background: none;
    width: auto;
    color: $primary;

    border: 2px solid $primary;
}

/****************************************************************** 
 *------------------------ EJERCICIO 7 ---------------------------*
******************************************************************/

.cardsTogether {
justify-content: center;
align-items: center;

} 

.cardsTogether>.card {
    margin: auto;
}
/****************************************************************** 
 *------------------------ MEDIA QUERY ---------------------------*
******************************************************************/


@media (min-width: 600px) {
    .navbar-collapse {
        background: rgba(255, 255, 255, 0.5);
    }

    main .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .cardsTogether>.card {
        width: 25%;
        padding: 2%; 

    }

        .cardsTogether {
            display: flex;
            justify-content: center;
    }

    .cardsTogether>.card:nth-child(1) {
        margin-top: 0;
    }
    
    .cardsTogether>.card:nth-child(2) {
        margin-top: 100px;
    }
    
    .cardsTogether>.card:nth-child(3) {
        margin-top: 200px;
     }

    .rectangulo {
        height: 25vw;
    }


    .rectangulo2 {
        height: 25vw;
        
    }

    section img {
        width: auto;
        height: auto;
    }

    footer {
        width: auto;
    }


}


